---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
{%- if item.data.lang %}
  <url>
    <loc>{{ business.url }}{{ item.url }}</loc>
    <xhtml:link rel="alternate" hreflang="he" href="{{ business.url }}{{ item.url | altUrl('he') }}" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ business.url }}{{ item.url | altUrl('en') }}" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ business.url }}{{ item.url | altUrl('he') }}" />
  </url>
{%- endif %}
{%- endfor %}
</urlset>
