{% macro clientMarquee(t, buildId) %}
<section class="client-marquee-section">
  <div class="container">
    <p class="client-marquee__heading">{{ t.clientMarquee.heading }}</p>
  </div>
  <div class="client-marquee" data-client-marquee>
    <div class="client-marquee__track">
      <img src="/assets/img/clients/hp.png" alt="HP">
      <img src="/assets/img/clients/microsoft.png" alt="Microsoft">
      <img src="/assets/img/clients/hilton.png" alt="Hilton" class="is-portrait">
      <img src="/assets/img/clients/tempo.png" alt="טמפו משקאות">
      <img src="/assets/img/clients/xl-energy.png" alt="XL Energy Drink">
      <img src="/assets/img/clients/barkan.png" alt="יקבי ברקן">
      <img src="/assets/img/clients/carmel-hotel.svg" alt="כרמל מלון יולדות">
      <img src="/assets/img/clients/carmel-winery.png" alt="יקב כרמל" class="is-portrait">
      <img src="/assets/img/clients/turgeman.svg" alt="תורגמן">
      <img src="/assets/img/clients/dsit-solutions.png" alt="DSIT Solutions">
      <img src="/assets/img/clients/israel-securities-authority.png" alt="רשות ניירות ערך">
      <img src="/assets/img/clients/taldor.png" alt="טלדור">
      <img src="/assets/img/clients/mi.png" alt="MI">
      <img src="/assets/img/clients/jerusalem-municipality.png" alt="עיריית ירושלים">
      <img src="/assets/img/clients/starcom-systems.png" alt="Starcom Systems">
      <img src="/assets/img/clients/tomix.png" alt="toMix">
      <img src="/assets/img/clients/daniz-tattoo.png" alt="Daniz Tattoo Studio">
      <img src="/assets/img/clients/maccabi-health.png" alt="מכבי שירותי בריאות">
      <img src="/assets/img/clients/be-hotels.png" alt="BE Hotels">
      <img src="/assets/img/clients/medialcs.png" alt="MedialCS">
      <img src="/assets/img/clients/israel-cyprus-chamber.png" alt="לשכת המסחר ישראל-קפריסין">
      <img src="/assets/img/clients/multilock.png" alt="Mul-T-Lock">
      <img src="/assets/img/clients/tau-cancer-research.png" alt="המרכז לחקר הסרטן, אוניברסיטת תל אביב">
      <!-- שכפול מלא לloop חלק -->
      <img src="/assets/img/clients/hp.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/microsoft.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/hilton.png" alt="" aria-hidden="true" class="is-portrait">
      <img src="/assets/img/clients/tempo.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/xl-energy.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/barkan.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/carmel-hotel.svg" alt="" aria-hidden="true">
      <img src="/assets/img/clients/carmel-winery.png" alt="" aria-hidden="true" class="is-portrait">
      <img src="/assets/img/clients/turgeman.svg" alt="" aria-hidden="true">
      <img src="/assets/img/clients/dsit-solutions.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/israel-securities-authority.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/taldor.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/mi.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/jerusalem-municipality.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/starcom-systems.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/tomix.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/daniz-tattoo.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/maccabi-health.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/be-hotels.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/medialcs.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/israel-cyprus-chamber.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/multilock.png" alt="" aria-hidden="true">
      <img src="/assets/img/clients/tau-cancer-research.png" alt="" aria-hidden="true">
    </div>
  </div>
</section>
{% endmacro %}
